* 
{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('fonts/LucidaSans.eot');
    src: url('fonts/LucidaSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/LucidaSans.woff2') format('woff2'),
        url('fonts/LucidaSans.woff') format('woff'),
        url('fonts/LucidaSans.ttf') format('truetype'),
        url('fonts/LucidaSans.svg#LucidaSans') format('svg');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: 'Segoe WP';
    src: url('fonts/SegoeWP.eot');
    src: url('fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
        url('fonts/SegoeWP.woff2') format('woff2'),
        url('fonts/SegoeWP.woff') format('woff'),
        url('fonts/SegoeWP.ttf') format('truetype'),
        url('fonts/SegoeWP.svg#SegoeWP') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Regular.eot');
    src: url('fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Asap-Regular.woff2') format('woff2'),
        url('fonts/Asap-Regular.woff') format('woff'),
        url('fonts/Asap-Regular.ttf') format('truetype'),
        url('fonts/Asap-Regular.svg#Asap-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-Light_1.eot');
    src: url('fonts/SegoeUI-Light_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/SegoeUI-Light_1.woff2') format('woff2'),
        url('fonts/SegoeUI-Light_1.woff') format('woff'),
        url('fonts/SegoeUI-Light_1.ttf') format('truetype'),
        url('fonts/SegoeUI-Light_1.svg#SegoeUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTSans-Regular.woff2') format('woff2'),
        url('fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTSans-Narrow.eot');
    src: url('fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSans-Narrow.woff2') format('woff2'),
        url('fonts/PTSans-Narrow.woff') format('woff'),
        url('fonts/PTSans-Narrow.ttf') format('truetype'),
        url('fonts/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans.woff2') format('woff2'),
        url('fonts/OpenSans.woff') format('woff'),
        url('fonts/OpenSans.ttf') format('truetype'),
        url('fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    display: block;
    background: url(img/background-header.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 71px;
}

.container{
    width: 1020px;
    margin: 0 auto;
}

.header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    display: flex;
    height: 168px;
}

.logo img{
    position: relative;   
}

.logo-1{
    left: 0;
    top: 0;
    z-index: 1;
}

.logo-2{
    left: -81px;
    top: 0px;
    z-index: 2;
}

.logo{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.text-logo{
    display: flex;
    font-family: 'Lucida Sans' ;
    font-style: italic;
    text-transform: uppercase;
    color:#fff;
    font-weight: 400;
    font-size: 41px;
    margin-top: 11px;
}

.logo-img{
    width: 86px;
    display: inline-flex;
}

.navigation{
    display: flex;
    width: 453px;
    align-items: center;
    margin-top: 15px;
}

.navigation ul{
    display: flex;
    justify-content: flex-end;   
}

.navigation li{
    position: relative;
    height: 41px;
    background: #f5c505;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dcb104;
    box-shadow: -8px -8px rgba(245, 197, 5, 0.27),-4px -4px rgba(245, 197, 5, 0.27);
}

.navigation li:first-child{
    width: 172px;
}

.navigation li:nth-child(2){
    width: 132px;
}

.navigation li:last-child{
    width: 146px;
}

.navigation a{
    display: flex;
    height: 41px;
    width: 175px;
    font-size: 17px;
    line-height: 41px;
    text-transform: uppercase;
    color: #9b7d08;
    text-decoration: none;
    font-family: 'Segoe WP';
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

#icon-about{
    padding-left: 48px;
}

#icon-services{
    padding-left: 26px;
}

.menu-icon{
    position: absolute;
    z-index: 0;
}

#about{
    left: 39px;
}

#services{
    left: 14px;
}

#contact{
    left: 16px;
}

.slider{
    margin-left: 10px;
    display: flex;

}

.video-player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 549px;
    height: 327px;
   position: relative;   
}

video{
    width: 549px;
}

.mobile-video{
    display: none;
}

.bg-video{
    top: 0;
    left: 0;
    position:absolute;
    background-color: #f5c506;
    opacity: 0.11;
    width: 100%;
    height:100%;
}

.icon-play{
    position: absolute;
    z-index: 10;
    background-color: #f5c506;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    opacity: 0.72;
}

.icon-play img{
    margin-left: 27px;
}

.button-play img{
    margin-left: 4px;
}

.button-play{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-color: #f5c506;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 16px;
    bottom: 42px;
}

.scroll-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background-color: #f5c506;
    width: 404px;
    height: 12px;
    border-radius: 5px;
    opacity: .28;
    position: absolute;
    left: 67px;
}

.scroll-bar-progress{
    background-color: #f5c506;
    width: 179px;
    height: 12px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    right: 303px;   
}

.button-voice{
    display: flex;
    align-items: center;
    position: absolute;
    left: 501px;
}

.icon-play-1:last-child{
    background: none;
}

.button-play:first-child{
    opacity: 0.37;
    width: 27px;
    height: 27px;
}

.player-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 549px;
    height: 327px;
     position: absolute;
     padding-bottom: 40px;
     margin-left: 13px;
}

.player-menu-line{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-description{
    width: 479px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-text{
    font-family: 'Asap';
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f5c506;
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 78px;
}

.description-text h1{
    font-weight: 200;
}

.description-text span{
    color: #fff;
}

.arrow-left{   
    top: 0;
    left: 0;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 57px;
   background: #c2a009;
}

.arrow img{
    margin-right: 4px;
}

.arrow-left{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 300px;
}

.arrow-right{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 300px;
}

/* ITEM LIST*/
.item{
    background: url(img/bg-item1.png);
}

.icon-block{
    height: 100px;
    display: flex;
} 

.item-list{
    height: 212px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-block{
    width: 340px;
    height: 212px;
    border-left: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.item-block h1{
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 27px;
    text-transform: uppercase;
}

.item-block:last-child{
        border-right: 1px solid #d4d4d4;
    }
.content{
    background: url(img/bg-content.jpg);
    height: 508px;
}

.content-block h2{
    line-height: 110px;
    font-family: 'PT Sans';
    text-transform: uppercase;
    color:#fff;
    font-weight: 100;
    font-size: 37px;
}

.content-info{
    display: flex;
    justify-content: space-between;
    /*для пиксель перфект*/
    /* margin-left: -1px;
    margin-right: 2px; */
}

.video-conntent{
    display: flex;
    height: 232px;
    width: 656px;
}
.social-network{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 329px;
    height: 232px;
    background: #ec9e03;
}

.social-network img{
    margin-top: 17px;
}

.description-video{
    width: 341px;
    background: #ec9e03;
    position: relative;
}

.text-content{
    margin: 16px 38px 34px 31px;
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: 100;
}

.video{
    width: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video video{
    width: 315px;
}

.icon-play-1{
    position: absolute;
    z-index: 10;
    background-color: #f5c506;
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    opacity: 0.72;
    margin:7px 0px 0px 3px;
}

.icon-play-1 img{
    width: 18px;
    margin-left: 25px;
}

.number-social{
    position: absolute;
    right: 0;
    top: 0;
    margin: 9px 19px 0px 0px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: 100;
}

.plus-1{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 13px;
    margin-right: 9px;
    color: #ffffff;
}

.plus{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 12px;
    margin-right: 15px;
    color: #ffffff;
}

.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 86px;
    background: #ddb101;
}

#calendar-day{
    font-size: 51px;
    color: #fff;
    font-family: "Segoe UI";
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: -16px;

}

#calendar-month{
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe WP";
    text-transform: uppercase;
    font-weight: 400;
}

.scroll-content{
    margin:0 auto;
    margin-top: 44px;
    /* margin-left: 73px; */
    width: 896px;
    height: 15px;
    background: #fae58e;
    border-radius: 8px;
}

.scroll-position{
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    margin-left: 247px;
}

.dialog-twitter{
    display: none;
}

.advantages{
    background: url(img/bg-advantages.png);
    height: 498px;
}

.advantages-block h2{
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 128px;
}

.free100{
    position: absolute;
    top: 94px;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #f5c506;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: 'PT Sans Narrow';
    font-weight: 600;
}

.advantages-block{
    position: relative;
}

.advantage-section{
    display: flex;
}

.devices-list{
    margin-top: 50px;
    margin-left: 57px;
}

.devices-list ul{
    list-style-image: url(img/dot.svg);
    list-style-position:outside;
}

.devices-list li{
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: 'Open Sans';
    margin-bottom: 15px;
    padding-left:13px;
}

.devices{
    width: 602px;
}

.devices-info{
    width: 418px;
}

#computer{
    margin: 9px 0px 0px 18px;
}

#tablet{
    margin:0px 0px 40px 20px;
}

#mobile{
    margin:0px 0px 40px 21px;
}

footer{
    height: 64px;
    background: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
}

.footer-logo{
    padding-top: 6px;
    position: relative;
}

.footer-logo2{
    position: absolute;
    left: 1px;
    top: 6px;
}

.footer-logo1{
    position: absolute;
    left: -1px;
    top: 4px;
}

.footer-text{
    position: absolute;
    left: 60px;
    top:16px;
    font-family: 'Lucida Sans' ;
    font-style: italic;
    text-transform: uppercase;
    color:#fff;
    font-weight: 400;
    font-size: 29px;
}

.footer-text h2{
    text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
}

@media (max-width: 640px){

                                /*first block*/
    .container{
        width: 640px;
        margin: 0 auto;
    }

    .header{
        height: 62px;
        background: #3d3d3b;
    }

    .wrapper{
        padding-bottom: 0px;
    }

    .text-logo{
        font-size: 19px;
        margin-top: 34px;
    }

    .logo-img{
        width: 57px;
        display: flex;
        align-items: center;
    }

    .logo{
        width: 186px;
    }

    .logo-1{
        left: 11px;
        width: 42px;
        height: 39px;
        top: 14px;
    }

    .logo-2{
        width: 38px;
        height: 37px;
        left: -29px;
        top: 14px;
    }

    .navigation{
        height: 62px;
        width: 454px;
        align-items: center;
        margin-top: 0px;
    }

    .navigation li{
        height: 62px;
        box-shadow: none;
        border-right: 1px solid #dcb105;
    }

    .navigation li:first-child{
        width: 171px;
    }

    .navigation li:last-child{
        border-right: 1px solid #f5c506;
        width: 149px;
    }

    .navigation li:nth-child(2){
        width: 132px;
    }

    .navigation a{
    height: 62px;;
    font-size: 19px;
    padding-left: 25px;
    }

    #icon-about{
        padding-left: 33px;
    }

    #about{
        left: 22px;
        width: 26px;
    }

    #services{
        left: 8px;
        width: 23px;
    }

    #contact{
        width: 28px;
        left: 11px;
    }

    #icon-contact{
        padding-left: 35px;
    }
                                /* Slider (video)*/

    .slider{
        margin-left: 0px; 
    }

    video{
        display: none;
    }

    .mobile-video{
        display: block;
        width: 640px;
    }

    .video-player{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 640px;
        height: 327px;
       position: relative;   
    }

    .video-description, .arrow{
        display: none;
    }
                            /*Block item*/

    .item-list, .item-block{
        height: 165px;
        border-right: 0;
        border: none;
    }

    .item-block:last-child {
        border: none;
    }

    .icon-block{
        height: 80px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-block img:nth-child(1){
        width: 89px;
        height: 61px;
    }

    .icon-block img:nth-child(2){
        width: 67px;
        height: 69px;
    }

    .icon-block img:nth-child(3){
        width: 68px;
        height: 69px;
    }

    .item-block h1{
        font-size: 23px;
    }
    .plus{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 17px;
        margin-right: 11px;
        color: #ffffff;
    }
                            /*Block content (description video)*/
    .content{
        background: #fff;
        height: 490px;
    }

    .content-block h2{
        display: none;
    }

    .description-video{
        width: 299px;
    }

    .text-content{
    margin: 17px 22px 21px 26px;
    line-height: 33px;
    }

    .social-video{
        display: block;
    }
    
    .video-conntent{
        padding: 16px 8px 9px 9px;
        justify-content: space-between;
    }

    .content-info{
        flex-wrap: wrap; 
    }

    .calendar, .scroll-content{
        display: none;
    }
                            /* block social network (twitter)*/
    .social-network{
        background: #f5c507;
        width: 640px;
        height: 233px;
        display: inline-flex;
    }

    .twitter{
        display: flex;
        justify-content: center;
        width: 320px;
        margin-left: 8px;
    }

    .message{
        width: 284px;
    }

    .dialog-twitter{
        display: block;
        width: 320px;
        margin-top: 15px;
    }

    .tweet{
        position: relative;
        float: right;
        width: 275px;
        height: 42px;
        background: #ffffff;
        margin-bottom: 14px;
        border-radius: 10px;
        font-size: 13px;
        letter-spacing: 0px;
        color: #8f8e8e;
        font-family: "Arial";
        background: #fceeb5;
    }

    .tweet:first-child{
        background: #fff;
    }

    .tweet:first-child:before{
        border-right: 13px solid #fff;
    }

    .tweet:before{
        content: "";
        width: 0;
        height: 0;
        right: 99%;
        top: 20px;
        position: absolute;
        border-top: 9px solid transparent;
        border-right: 13px solid #fceeb5;
        border-bottom: 7px solid transparent;
    
    }

    .content-tweet{
        margin: 6px 30px 0px 18px;
    }

    .push-tweet{
        float: right;
        width: 69px;
        height: 31px;
        border-radius: 0px 10px 10px 0px;
        background: #e09f1d;
        border: 1px solid #d0a706; 
        border-left: 0;
        font-size: 15px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Arial";
        outline: none;
    }

    .text-tweet{
        margin-left: 12px;
        width: 201px;
        height: 29px;
        border: 1px solid #d0a706;
        border-radius: 10px 0px 0px 10px;
        outline: none;
    }

    .plus-1{
        display: none;
    }

    .number-social{
        display: none;
    }
                            /*Block devices*/
    .devices-info{
        display: none;
    }

    .advantages{
        background: #474747;
        height: 466px;
        width: 640px;
    }

    .advantages-block h2{
        font-size: 39px;
        letter-spacing: 0px;
        color: #f5c506;
        font-family: "Open Sans";
        font-weight: 400;
        height: 114px;
        line-height: 114px;
    }

    .advantage-section{
        margin-top: 33px;
    }

    .devices{
        margin: 0 auto;
    }

    #computer{
        margin-left: 38px;
    }

    .free100{
    top: 115px;
    left: 27px;
    }
                            /*Footer*/
    footer{
        height: 43px;
        width: 640px;
        background: #4c4c4c;
        box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
    }

    .footer-logo{
        padding: 0px 65px;
    }

    .footer-logo1{
        position: absolute;
        height: 31px;
        width: 31px;
        left: 65px;
        top: 6px;
    }

    .footer-logo2{
        position: absolute;
        left: 66px;
        top: 7px;
        width: 30px;
        height: 30px;
    }

    .footer-text{
        position: absolute;
        left: 105px;
        top:12px;
        font-family: 'Lucida Sans' ;
        font-style: italic;
        text-transform: uppercase;
        color:#fff;
        font-weight: 400;
        font-size: 17px;
    }
}